# Dependencies
node_modules

# Environment files
.env
backend/.env
frontend/.env
admin/.env

# Firebase / Google secrets
backend/firebase-service-account.json
backend/firebase-service-account.json.json

# Build outputs
dist
build

# Logs
npm-debug.log*
